@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Montserrat;
}
body {
    background: #fafafa;
}

input:focus {
    outline: none;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff !important;
    opacity: 1 !important;
    transition: background-color 0.3s;
}

.swiper-pagination-bullet-active {
    background-color: #006dab !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet:hover {
    background-color: #007aff;
}

/* header 양옆에 있는 버튼 */
.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    background-color: #ffffff4d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px !important;
    height: 40px !important;
    margin: 0px 30px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 15px !important;
    color: #fff;
    width: 17px !important;
    height: 17px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-multiple-carousel__arrow {
    background: #006dab !important; /* 버튼 배경 색상 */
    border-radius: 50%; /* 버튼 모서리를 둥글게 */
    width: 40px; /* 버튼 너비 */
    height: 40px;
    z-index: 1 !important;
}

.custom-carousel .react-multi-carousel-item {
    display: flex;
    justify-content: center;
}

.dropdown {
    display: flex;
}

@media only screen and (max-width: 700px) {
    .dropdown {
        display: none;
    }
}

.cartSwiper .swiper-button-next,
.cartSwiper .swiper-button-prev {
    background: #006dab;
}

/* .swiperImg{
    height: 456px;
} */
.swiper-zoom-container img {
    width: 683px !important;
    height: 406px !important;
    object-fit: cover !important;
    top: 0;
    margin-top: 20px;
}
@media only screen and (max-width: 817px) {
    .swiper-zoom-container img {
        width: 480px !important;
        height: 280px !important;
    }
}
@media only screen and (max-width: 700px) {
    .swiper-zoom-container img {
        width: 334px !important;
        height: 199px !important;
        margin-top: 10px;
    }
    .cartSwiper .swiper-button-next,
    .cartSwiper .swiper-button-prev {
        display: none;
    }
}
.swiper-zoom-container {
    height: 100%;
    position: relative;
}
.cartSwiper .swiper-pagination-fraction,
.cartSwiper .swiper-pagination-custom,
.cartSwiper .swiper-pagination-bullets,
.cartSwiper .swiper-pagination-horizontal {
    display: none;
}

.cartSwiper .swiper-button-next {
    right: -14px;
}

.cartSwiper .swiper-button-prev {
    left: -14px;
}












.container {
    display: flex;
}

.left-container {
    position: fixed;
    width: 200px;
    /* height: 100vh; */
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.right-container {
    margin-left: 200px;
    padding: 20px;
    width: calc(100% - 200px);
}
